@import "footer";
@import "main";
@import "nav";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  // font-size: 24px;
  font-family: "Noto Sans KR", sans-serif;
}

.page_width {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
}

.header_width {
  width: 100%;
  max-width: 1256px;
  margin: 0 auto;
}

.flex_beteween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_beteween-non-align-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

input {
  border: 0;
  outline: 0;
}

button {
  padding: 0;
  border: 0;
  outline: 0;
  background: white;
  cursor: pointer;
}
img {
  object-fit: cover;
}
a {
  display: inline-block;
  text-decoration: none;
}

a:visited {
  color: #2f3438;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
