.home_page {
  .home_page_margin_space {
    margin-bottom: 60px;
  }

  .home_container {
    display: flex;
    max-width: 1256px;
    height: 546px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 0;

    .image_box {
      position: relative;
      width: 75%;
      img {
        border-radius: 6px;
      }
      .text_box {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0px 30px 30px;
        p {
          font-size: 32px;
          color: #ffffff;
          font-weight: 700;
          line-height: 42px;
        }

        .sub_text_box {
          display: flex;
          align-items: center;

          span {
            font-size: 16px;
            line-height: 20px;
            color: #ffffff;
            margin-left: 2px;
            margin-top: 4px;
          }
        }
      }
    }
    .sub_image_box {
      width: 25%;
      margin-left: 10px;
      img {
        border-radius: 6px;
      }
    }
  }
  .category_box {
    max-width: 1256px;
    margin: 0 auto;
    ul {
      height: 164px;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 6px;
      }

      div {
        width: 90px;
        height: 70px;
        @media (max-width: 1024px) {
          width: 70px;
          height: 50px;
        }
      }

      span {
        // color: #2f3438;
        font-size: 16px;
        line-height: 20px;
        margin-top: 8px;
        @media (max-width: 1024px) {
          font-size: 12px;
        }
      }
    }
  }

  .section_container {
    // padding: 10px 0px;
    .pd-u-d {
      padding: 20px 0px;

      strong {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .section_img_box {
      position: relative;
      border-radius: 4px;
      .img_box2 {
        height: 179px;
        overflow: hidden;
      }
      span {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        color: rgb(47, 52, 56);
      }

      img {
        object-fit: cover;
        border-radius: 4px;
        transition: all 0.2s linear;
        &:hover {
          transform: scale(1.05);
        }
      }

      .img_description {
        margin-bottom: 20px;
        p {
          margin-top: 5px;
          font-size: 16px;
          font-weight: 400;
          span {
            color: rgb(53, 197, 240);
            font-weight: 700;
          }
        }
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
  }

  .today_deal {
    margin: 40px auto;
    .today_dael_text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;

      strong {
        font-size: 20px;
      }

      .more_view_btn {
        font-weight: 700;
        font-size: 16px;
        color: rgb(53, 197, 240);
      }
    }

    .today_deal_container {
      position: relative;

      .today_deal_space {
        margin-right: 20px;

        .today_deal_item_content {
          margin-top: 5px;
          h1 {
            span {
              display: block;
              font-size: 11px;
              font-weight: 400;
              color: #828c94;
              &:nth-child(2) {
                font-size: 13px;
                font-weight: 400;
                color: #424242;
              }
            }
          }
          .deal_price {
            span {
              font-size: 17px;
              line-height: 23px;
              font-weight: 700;
              &:first-child {
                color: #35c5f0;
                margin-right: 4px;
              }
              &:nth-child(2) {
                color: #000;
              }
            }
          }
          .star_review_box {
            color: #9e9e9e;
            font-size: 12px;
            svg {
              width: 1.1em;
              height: 1.1em;
              color: #35c5f0;
              margin-right: 1px;
              vertical-align: -2px;
            }

            strong {
              margin-right: 2px;
              font-size: 12px;
              color: #424242;
            }
          }

          .event_banner {
            span {
              padding: 4px;
              border-radius: 4px;
              font-size: 10px;
              &:first-child {
                margin-right: 4px;
                background: rgb(237, 237, 237);
              }
              &:nth-child(2) {
                color: white;
                background: rgb(237, 117, 110);
              }
            }
          }
        }

        .today_deal_image_box {
          width: 269px;
          height: 269px;
        }
      }
    }
  }

  .populate_media {
    margin: 40px auto;
    .populate_media_title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .poluate_media_title_wrapper {
        flex: 1 1 0%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        strong {
          font-size: 20px;
          font-weight: 700;
          color: rgb(47, 52, 56);
        }

        span {
          font-size: 14px;
          font-weight: 400;
          color: rgb(47, 52, 56);
          line-height: 18px;
        }
      }
      .more_view_btn {
        font-weight: 700;
        font-size: 16px;
        color: rgb(53, 197, 240);
      }
    }

    .image_box_container {
      display: flex;
      justify-content: space-between;
      .image_box {
        position: relative;
        width: calc((100% - 100px) / 6);
        img {
          border-radius: 4px;
        }

        .book_mark {
          position: absolute;
          top: 0;
          left: 12px;
          padding: 0px;

          span {
            position: absolute;
            top: 4px;
            left: 0px;
            right: 0px;
            font-size: 12px;
            line-height: 20px;
            font-weight: 700;
            color: rgb(255, 255, 255);
            text-align: center;
          }
        }
        .media_text {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 8px;
          span {
            font-size: 12px;
            font-weight: 700;
            line-height: 20px;
            color: rgb(255, 255, 255);
          }
        }

        .blank_mark {
          position: absolute;
          padding: 8px;
          font-size: 0px;
          z-index: 1;
          right: 0px;
          bottom: 0px;
        }
      }
    }
  }

  .user_interior_review_container {
    display: flex;
    padding: 20px 0px;

    .user_interior_review_title {
      flex: 1 1 0%;
      strong {
        font-weight: 700;
        color: rgb(47, 52, 56);
        letter-spacing: -0.3px;
        font-size: 20px;
        line-height: 28px;
      }
    }
    button {
      margin: 0px;
      padding: 0px;
      background: none;
      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: rgb(53, 197, 240);
      cursor: pointer;
    }
  }

  .user_interior_review_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    h2 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 700;
    }
    p {
      display: -webkit-box;
      overflow: hidden;
      color: rgb(47, 52, 56);
      font-size: 16px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  // @media (max-width: 1256px) {
  //   width: 100%;
  // }
}
